USE [master]
GO
/****** Object:  Database [BaseTP4]    Script Date: 21/11/2020 20:26:12 ******/
CREATE DATABASE [BaseTP4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseTP4', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseTP4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseTP4_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaseTP4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseTP4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseTP4]
GO
/****** Object:  Table [dbo].[historialVentas]    Script Date: 21/11/2020 20:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historialVentas](
	[cantidadTotalVentas] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pantalla]    Script Date: 21/11/2020 20:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pantalla](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[producto] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[resolucion] [varchar](50) NOT NULL,
	[pulgadas] [int] NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_pantalla] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[smartPhone]    Script Date: 21/11/2020 20:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[smartPhone](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[producto] [varchar](50) NOT NULL,
	[marca] [varchar](50) NOT NULL,
	[sistemaOperativo] [varchar](50) NOT NULL,
	[memoria] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
 CONSTRAINT [PK_smartPhone] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[historialVentas] ([cantidadTotalVentas]) VALUES (4)
GO
SET IDENTITY_INSERT [dbo].[pantalla] ON 

INSERT [dbo].[pantalla] ([idVenta], [producto], [marca], [resolucion], [pulgadas], [precio]) VALUES (1, N'Televisor', N'LG', N'1080p', 32, 400)
INSERT [dbo].[pantalla] ([idVenta], [producto], [marca], [resolucion], [pulgadas], [precio]) VALUES (2, N'Monitor', N'Samsung', N'4K', 40, 450)
SET IDENTITY_INSERT [dbo].[pantalla] OFF
GO
SET IDENTITY_INSERT [dbo].[smartPhone] ON 

INSERT [dbo].[smartPhone] ([idVenta], [producto], [marca], [sistemaOperativo], [memoria], [precio]) VALUES (1, N'Ace Core Prime', N'Apple', N'iOS', N'64GB', 280)
INSERT [dbo].[smartPhone] ([idVenta], [producto], [marca], [sistemaOperativo], [memoria], [precio]) VALUES (2, N'Prime Core', N'Xiaomi', N'Android', N'16GB', 220)
SET IDENTITY_INSERT [dbo].[smartPhone] OFF
GO
USE [master]
GO
